
.introduck {
    color: black;
    text-decoration: none;
    font-style: bold;
    font-family: 'Lucida Grande';
    font-size: 200px;   
}
.linker {
    color: white;
    text-decoration: underline;
    font-style: bold;
    font-family: 'Cambria';
    font-size: 40px;  
}

.body {
    color: black;
    text-decoration: none;
    font-style: bold;
    font-family: 'Lucida Grande';
    font-size: 40px;   
}

        
        
 